.portfolio {
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 1700px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.portfolio h1 {
    color: black;
    text-align: center;
}

.portfolio ul {
    list-style-type: none;
    padding: 0;
}

.portfolio li {
    width: 650px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.portfolio li:hover {
    background-color: #b7d5d4;
}

.portfolio p {

    color: black;
}


.nvm {
    cursor: pointer;
}

.create-portfolio {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 220px;
    margin: 30px;
    max-height: 400px;
}

.create-portfolio button {
    width: 100%;
    padding: 12px;
    background-color: #e85d75;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-portfolio button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.error-message2 {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.portfolio button {
    width: 100%;
    padding: 12px;
    background-color: #e85d75;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.edit-portfolio {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 270px;
}

.accounta{ 
    /* display: flex; */
    /* flex-wrap: column; */
    /* justify-content: space-between; */
    margin-right: 30px;
 } 


.portfolio li button:hover {
    background-color: #45a049;
}

.add-funds button:hover {
    background-color:  #45a049;
}

.edit-portfolio button:hover {
    background-color: #45a049;
}

.edit-portfolio button:nth-child(2):hover {
    background-color: #45a049;
}