
h1 {
    margin: 30px;
}


.port-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px;
    /* max-width: 700px; */
    /* height: 500px; */
    margin: 30px ;
    margin-top: 0px;
}

.port-card p {
    color: black;
    margin-top: 10px;
}

.delete {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #e85d75;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: red;
}


.trade-button-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 0%;
}

.trade-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.trade-button:hover {
    background-color: #45a049;
}


.portfolio-container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-evenly; 
    /* margin-top: 20px; */
}

.portfolio-container:hover {
    background-color: transparent;

}