.details{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    height: 500px;
    margin: 30px ;
    width: 500px;
}

.details p {
    color: black;
    margin-top: 20px;
}

.titleme {
    font-size: 50px;
}

.twobox{
    display: flex;
    justify-content: space-between;
}

.buy{
    background-color: #63db7d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    /* height: 300px; */
    margin: 30px ;
    width: 500px;

}

.buy p {
    color: black;
    margin-top: 20px;
}

.sell{
    background-color: #e96262;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    /* height: 300px; */
    margin: 30px ;
    width: 500px;
}

.sell p {
    color: black;
    margin-top: 20px;
}

.buy-button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .buy-button:hover {
    background-color: #45a049; 
  }
  
  .buy-button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
  
  .sell-button {
    background-color: #ff0303; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .sell-button:hover {
    background-color: #d31f1f; 
  }
  
  .sell-button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }

  .portbal{
    font-size: 30px;
  }

  .select-portfolio-button {
    background-color: #2903ff; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
  .select-portfolio-button:hover {
    background-color: #0056b3;
  }
  