.stonks {
  padding: 20px;
}

.stock-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

.stock-label {
  flex: 1;
  text-align: center;
  padding: 5px;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  cursor: pointer;
}

.stock-item:hover {
  background-color: #f0f0f0;
}


.stock-name,
.stock-open-price,
.stock-high-price,
.stock-low-price,
.stock-volume,
.stock-close-price,
.stock-vwap {
  flex: 1;
  text-align: center;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  padding:20px;
  gap: 10px;
}



.search-bar-container .volume-filters {
  display: flex;
  gap: 10px;
}

.watchlist {
  background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 20px; 
}

.watchlist:hover {
  background-color: #0056b3;
}

.dropdownwatch {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-height: 300px;
  padding: 20px;
  margin-left: 20px; 
}


.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stock-star {
  transition: color 0.3s ease, transform 0.3s ease;
}

.stock-star:hover {
  color: gold; 
  transform: scale(1.5);
}



